{% include header.html %}

<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				<h1>{{ page.hero-header }}</h1>
				<p class="hero-text">{{ page.hero-subhead }}</p>
				<div class="row">
					<div class="col-lg-10">
						<p>{{ page.hero-p }}</p>
					</div>
					<figure>
						<img class="img-full-width" src="/img/what-we-do.jpg" alt="">
						<figcaption>This sketch is a pithy way of broadly capturing what we do and how we fit in	</figcaption>
					</figure>

				</div>
				<div class="row">
					<div class="col-lg-10">
{{ page.content }}
						</div>
						</div>
			</div>

		</div>
	</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<div class="row">
						<div class="col-md-8">
							<table class="specs text-sm">
								<tbody>
									<tr>
										<td>
											<div class="specs__label">Client</div>
										</td>
										<td>
											<p>Kmart Australia</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="specs__label">Services</div>
										</td>
										<td>
											<p><a href="service.html">A/B Testing </a>
												<br><a href="service.html">User research </a>
												<br><a href="service.html">Interface design</a>
											</p>
										</td>
									</tr>
									<tr>
										<td>
											<div class="specs__label">Result</div>
										</td>
										<td>
											<p>1000% increase in e-mail marketing subscriptions</p>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<br>
					<p>A quantitive review is a launching off point for a data driven optimisation project: we trawl through your analytics data to find what’s working (and more importantly what’s not) in your website and unearth actionable insights to help info. A quantitive
						review is a launching off point for a data driven optimisation project: we trawl through your analytics data to find what’s working (and more importantly what’s not) in your website and unearth actionable insights to help info.</p>
					<br>
				</div>
			</div>
		</div>
		<div class="container container--wider">
			<figure>
				<img class="img-full-width" src="http://placehold.it/896x480" alt="">
				<div class="row">
					<div class="col-lg-10">
						<figcaption>Our structure is unique. We are the only major design studio where the owners of the business are the creators of the work and serve as the primary contact for every client.</figcaption>
					</div>
				</div>
			</figure>
			<br>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-10">
					<p>A quantitive review is a launching off point for a data driven optimisation project: we trawl through your analytics data to find what’s working (and more importantly what’s not) in your website and unearth actionable insights to help info.</p>
					<br>
					<blockquote class="text-center">
						<h2 class="smaller mb-2">“An absolutely awesome result!”</h2>
						<p class="text-xs">Joachim Holte, Head of Digital Marketing, Kmart Australia</p>
					</blockquote>
					<br>
					<p>A quantitive review is a launching off point for a data driven optimisation project: we trawl through your analytics data to find what’s working (and more importantly what’s not) in your website and unearth actionable insights to help info. A quantitive
						review is a launching off point for a data driven optimisation project: we trawl through your analytics data to find what’s working (and more importantly what’s not) in your website and unearth actionable insights to help info.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="container--mobile-full-width">
						<img class="img-full-width mb-2" src="img/media/office.jpg" alt="">
					</div>
				</div>
				<div class="col-md-6">
					<p class="caption pr-3 pr-md-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil cupiditate, hic officia distinctio animi ex esse quo praesentium asperiores quibusdam aut iste dolor itaque odio reiciendis provident consequatur commodi unde.</p>
				</div>
			</div>
			<br>
			<br>
		</div>
		<!--.section-->
		<section class="section section--additional">
			<div class="container">
				<!--.subsection-->
				<div class="subsection">
					<h2 class="section-title">More recent work</h2>
					<div class="cards-faded">
						<div class="row">
							<div class="col-md-6 card-faded">
								<a href="case.html">
									<div class="card-case">
										<div class="embed-responsive embed-responsive-1 mb-3">
											<img class="embed-responsive-item" src="img/media/phone-hand.jpg" alt="" width="192" />
										</div>
										<p class="mb-0">We designed a mobile streaming app for our favourite radio station</p>
									</div>
								</a>
							</div>
							<div class="col-md-6 card-faded">
								<a href="case.html">
									<div class="card-case">
										<div class="embed-responsive embed-responsive-1 mb-3">
											<img class="embed-responsive-item" src="img/media/car.jpg" alt="" width="192" />
										</div>
										<p class="mb-0">How we helped Nissan increase test drive requests by 1000%</p>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!--/.subsection-->
			</div>
		</section>
		<!--/.section-->
	</div>
	<!--modals before footer-->

	{% include footer.html %}
