<!--.footer-->
<footer class="footer text-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="subsection-lg">
          <h4 class="mb-2">New business enquiries</h4>
          <p>Oliver Palmer
            <br><a href="tel:+61451442720">+614 5144 2720</a>
            <br><a href="mailto:op@publicbasic.com">op@publicbasic.com</a>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="subsection-lg">
          <h4>Join our newsletter</h4>
          <form>
            <input type="email" placeholder="Your e-mail address" />
            <button class="btn btn-outline-secondary btn--px-1" type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="subsection-lg">
          <p>&copy; 2019, Public Basic</p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--/.footer-->
<!--Scripts-->
<!--jQuery-->
<script src="/js/jquery-3.2.1.min.js"></script>
<!--Framework-->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!--Styleguide-->
<script src="/js/styleguide.js"></script>
<!--Others-->
<script src="/js/main.js"></script>
</body>
</html>
