<div class="secondary py-5" style="background-color: #F8E71C;">
		<!--.section-->
		<section class="section" data-aos="fade-up">
			<div class="container container--lg">
				<div class="row">
					<div class="col-lg-12">
						<!--.subsection-->
						<div class="subsection">
							<h2 class="section-title">Claim a FREE strategy session</h2>
							<p>
								Book a free, no obligation 30 minute call with one of our conversion experts.							</p>
							<p>
								One recent strategy session unearthed a previously unkown usability issue that increased sign-ups for a major super fund by 25%.
							</p>
							<p>
								There’ll be <strong>no commitment or obligation</strong> to use our services.
						</p>
							<br><a class="btn btn-primary btn-lg" href="/services/strategy-session" id="bottomStrategySession">I want a FREE strategy session </a>

							<!-- Button click tracking -->
							<script type="text/javascript">
								var link = document.getElementById('bottomStrategySession');
								analytics.trackLink(link, 'Bottom Strategy Session CTA Clicked',
								{
									pageTitle: document.title
								});
								</script>

						</div>
						<!--/.subsection-->
					</div>
				</div>
			</div>
		</section>
		<!--/.section-->
	</div>
	</div>
