<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Public Basic | {{page.title}}</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png.html">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png.html">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png.html">
	<link rel="manifest" href="../../site.webmanifest.html">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- Main-->
	<link rel="stylesheet" href="/css/main.css" />
	<!-- Animation library - Animate on Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Meta description -->
    {% if page.meta-description %}<meta name="description" content="{{ page.meta-description }}">{% endif %}
	<!-- Segment tracking -->
	<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load("AK04LLoeQWLs2TAf6whlxCwsEqmrSaNh");
  analytics.page();
  }}();
</script>
 <!-- End Segment tracking -->

 <!-- Pageview tracking -->

 <script type="text/javascript">
  analytics.track('Page viewed', {
    date: new Date()
  });
</script>
<!-- End Segment tracking -->





</head>
<body>
	<!-- Animate on Scroll init -->
	<script>
 	AOS.init();
	</script>

	<header class="header js-header" style="background-color: #F8E71C;">
		<nav class="navbar navbar-expand-md pt-4">
			<div class="container container--lg">
				<div class="row align-items-center align-items-md-start">
					<div class="col-6"><a class="logo text-nowrap" href="/">Public Basic</a>
					</div>
					<div class="col-6 d-md-none">
						<div class="text-right">
							<div class="navbar-toggler" data-toggle="collapse" data-target="#menu" data-toggle-class-2="opened" data-target-2=".js-header">
								<div class="navbar-toggler__text-default">Menu</div>
								<div class="navbar-toggler__text-opened">Close</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="collapse navbar-collapse" id="menu">
							<ul class="navbar-nav text-right">
								<!--add class="active" to current page link-->

								<!-- check the url for the desired uri part -->
								{% assign uri_parts = page.url | split: '/' %}
								{% for uri_part in uri_parts %}
									{% assign part = uri_part | remove: '/' | remove: '.html' | downcase %}

									{% if part == 'our-work' %}
										{% assign page_is = part %}
									{% elsif part == 'services' %}
										{% assign page_is = part %}
									{% elsif part == 'about' %}
										{% assign page_is = part %}
									{% endif %}
								{% endfor %}
								<!-- end checking the url -->



								<li class="nav-item"><a class="nav-link hover-underline {%if page_is == 'our-work' %}active{% endif %}" href="/#client-results">Client results</a>
								</li>
								<li class="nav-item"><a class="nav-link hover-underline {%if page_is == 'services' %}active{% endif %}" href="/services">Services</a>
								</li>
								<li class="nav-item"><a class="nav-link hover-underline {%if page_is == 'about' %}active{% endif %}" href="/about">About</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
