<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->

<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Public Basic</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png.html">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png.html">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png.html">
	<link rel="manifest" href="../../site.webmanifest.html">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<!-- Main-->
	<link rel="stylesheet" href="/css/main.css" />	
	<!-- Animation library - Animate on Scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</head>
<body>
	<!-- Animate on Scroll init -->
	<script>
 	AOS.init();
	</script>

	<header class="header js-header">
		<nav class="navbar navbar-expand-md">
			<div class="container container--md">
				<div class="row align-items-center align-items-md-start">
					<div class="col-6"><a class="logo text-nowrap" href="/">Public Basic</a>
					</div>
					<div class="col-6 d-md-none">
						<div class="text-right">
							<div class="navbar-toggler" data-toggle="collapse" data-target="#menu" data-toggle-class-2="opened" data-target-2=".js-header">
								<div class="navbar-toggler__text-default">Menu</div>
								<div class="navbar-toggler__text-opened">Close</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="collapse navbar-collapse" id="menu">
							<ul class="navbar-nav text-right">
								<!--add class="active" to current page link-->
								<li class="nav-item"><a class="nav-link hover-underline" href="/our-work">Our work</a>
								</li>
								<li class="nav-item"><a class="nav-link hover-underline" href="/services">Services</a>
								</li>
								<li class="nav-item"><a class="nav-link hover-underline" href="/about">About</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>