<!DOCTYPE html>
<html lang="zxx">
<!-- Head-->
<head>
	<!-- Meta-->
	<meta charset="utf-8">
	<!-- Title-->
	<title>Oliver Palmer</title>
	<!-- Viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=3.0, user-scalable=yes">
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="180x180" href="../../apple-touch-icon.png.html">
	<link rel="icon" type="image/png" sizes="32x32" href="../../favicon-32x32.png.html">
	<link rel="icon" type="image/png" sizes="16x16" href="../../favicon-16x16.png.html">
	<link rel="manifest" href="../../site.webmanifest.html">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">
	<meta http-equiv="refresh" content="0;url=http://www.oliverpalmer.com/" />

	<!-- Main-->
	<link rel="stylesheet" href="/css/main.css" />
	<!-- Start Segment -->

	<script>
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
  analytics.load("AK04LLoeQWLs2TAf6whlxCwsEqmrSaNh");
  analytics.page();
  }}();
</script>

<!-- End Segment -->
</head>
<body>
	<header class="header js-header">
		<nav class="navbar navbar-expand-md">
			<div class="container container--md">
				<div class="row align-items-center align-items-md-start">
					<div class="col-6"><a class="logo text-nowrap" href="/">Oliver Palmer</a>
					</div>
					<div class="col-6 d-md-none">
						<div class="text-right">
							<div class="navbar-toggler" data-toggle="collapse" data-target="#menu" data-toggle-class-2="opened" data-target-2=".js-header">
								<div class="navbar-toggler__text-default">Menu</div>
								<div class="navbar-toggler__text-opened">Close</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="collapse navbar-collapse" id="menu">
							<ul class="navbar-nav text-right">
								<!--add class="active" to current page link-->
								<!-- check the url for the desired uri part -->
								{% assign uri_parts = page.url | split: '/' %}
								{% for uri_part in uri_parts %}
								{% assign part = uri_part | remove: '/' | remove: '.html' | downcase %}
								{% if part == 'our-work' %}
								{% assign page_is = part %}
								{% elsif part == 'services' %}
								{% assign page_is = part %}
								{% elsif part == 'blog' %}
								{% assign page_is = part %}
								{% elsif part == 'case-study' %}
								{% assign page_is = part %}
								{% elsif part == 'about' %}
								{% assign page_is = part %}
								{% endif %}
								{% endfor %}
								<!-- end checking the url -->
								<li class="nav-item"><a class="nav-link hover-underline {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
								</li>
								<li class="nav-item"><a class="nav-link hover-underline {% if page_is == 'about' %}active{% endif %}" href="/about">About</a>
								</li>
								<li class="nav-item"><a class="nav-link hover-underline {% if page_is == 'services' %}active{% endif %}" href="/services">Services</a>
								</li>
													</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
