{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.hero-header %}
				<h1>{{ page.hero-header }}</h1>
				{% endif %}
				{% if page.hero-subhead %}
				<p class="hero-text">{{ page.hero-subhead }}</p>
				{% endif %}
				{% if page.hero-p %}
				<p>{{ page.hero-p }}</p>
				{% endif %}
				{% if page.hero-cta %}
				<a class="btn btn-primary btn-lg mt-1" href="/services/strategy-session" id="topStrategySession">{{ page.hero-cta }}</a>
				{% endif %}
				{% if page.cta-eyebrow %}
				<p class="small">{{ page.cta-eyebrow }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<!--.section-->
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-md-8">
						<table class="specs text-sm">
							<tbody>
								<tr>
									<td>
										<div class="specs__label">Client</div>
									</td>
									<td>
										<p><a href="https://www.kmart.com.au">Kmart Australia</a></p>
									</td>
								</tr>
								<tr>
									<td>
										<div class="specs__label">Services</div>
									</td>
									<td>
										<p> A/B Testing <br />
											User research <br />
											UX design
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<div class="specs__label">Result</div>
									</td>
									<td>
										<p>1000% increase in e-mail marketing subscriptions</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>
	<div class="container pt-2">
		<div class="row">
			<div class="col-lg-10 col-md-11 my-4">

				<h3>The challenge</h3>
				<p>
					Kmart sought to vasly increase email opt-ins to their Kmail marketing program.
				</p>
			</div>
		</div>
	</div>
	<div class="secondary" style="background-color: #;">


		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-11 my-4">

					<h3>What we did</h3>
					<p>
						Using an approach combining of user research, analytics and experimentation we sought to optimise the Kmail sign-up journey.
					</p>
					<ul class="list">
						<li>
							Implemented event level funnel tracking to identify problem areas and growth opportunities </li>

						<li>Undertook user research to help understand customer needs and motivations</li>
						<li>Deployed an iterative series of targeted A/B tests to identify ideal moment in the user journey to prompt customers to opt-in for email marketing</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="secondary" style="background-color: #FFFF88;">
			<div class="container py-5">
				<div class="row">
					<div class="col-lg-10 py-5">
						<blockquote class="text-center mb-0">
							<h2 class="smaller mb-2">“An absolutely awesome result!”</h2>
							<p class="text-xs mb-0">Joachim Holte, Head of Digital Marketing, Kmart Australia</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-11 mt-5">


					<h3>The result</h3>
					<ul class="list">
						<li>A whopping 1000% increase in email marketing opt-ins</li>
						<li>Kmart to reach their stated target in a fraction of the time they had previously estimated</li>
						<li>Seven figures in incremental email marketing attributed sales in the first year alone</li>
					</ul>



				</div>
			</div>
		</div>


		<!--.section-->
		<section class="section section--additional">
		  <div class="container">
		    <!--.subsection-->
		    <div class="subsection">
		      <h2 class="section-title">More recent work</h2>
		      <div class="cards-faded">
		        <div class="row">
							{% for post in site.posts limit: 3 %} {% if post.url != page.url %} {% if forloop.index < 3 or found %}
		          <div class="col-md-6 card-faded">
		            <a href="{{ post.url }}">
		              <div class="card-case">
		                <div class="embed-responsive embed-responsive-1 mb-3">
											<img class="embed-responsive-item" src="{{ post.mobile-thumbnail }}" alt="" width="192" style="border: 1px solid #5e5e5e;" />
		                </div>
		                <p class="mb-0">{{ post.headline }}</p>
		              </div>
		            </a>
		          </div>
							{% endif %} {% else %} {% assign found = true %} {% endif %} {% endfor %}

		        </div>
		      </div>
		    </div>
		    <!--/.subsection-->
		  </div>
		</section>
		<!--/.section-->


{% include book.html %}
</div>


{% include footer.html %}
