{% include header.html %}
<div class="page-content">
    <div class="hero hero--case">
        <div class="container">
            <div class="subsection">
                {% if page.hero-header %}
                <h1>
					{{ page.hero-header }}
					</h1> {% endif %} {% if page.hero-text %}
                <p class="hero-text">
                    {{ page.hero-text }}
                </p>
                {% endif %} {% if page.hero-para %}
                <p class="hero-para">
                    {{ page.hero-para }}
                </p>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="specs text-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="specs__label">Client</div>
                                        </td>
                                        <td>
                                            <p>Telegraph Media Group</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="specs__label">Services</div>
                                        </td>
                                        <td>
                                            <p><a href="/services">A/B Testing
</a>
                                                <br><a href="/services">User research
</a>
                                                <br><a href="/services">Interface design</a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p>

                    </p>
                    <p>
                        Telegraph.co.uk was the very first newspaper in Europe to establish a daily edition, launching in November in 1994 from a Sun Sparc 20 on a leased 64/kbit line from their Canary Wharf newsroom.
                    </p>
                    <p>
                        Over 20 years later, the site receives 70m+ visits per month in addition to its suite of phone and tablet apps.
                    </p>
                    <p>
                        The business is in the midst of a large scale digital transformation, moving toward agile methodology, short sprint cycles and the establishment of a data team of analysts, data scientists and user researchers.
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <div class="container container--wider">
            <figure>
                <img class="img-full-width" src="{{ page.image }}" alt="{{ page.image-alt }}">
                <div class="row">
                    <div class="col-lg-10">
                        <figcaption>
                            {{ page.caption }}
                        </figcaption>
                    </div>
                </div>
            </figure>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">

                    <h4>What we did</h4>
                    <p>
                        Working closely with the business for over a year, we advised on the establishment of an in-house A/B testing program.
                    </p>
                    <ul class="list">
                        <li>Helped to find a suitable A/B testing platform</li>
                        <li>Prioritised a back-log of experiments</li>
                        <li>Worked with stakeholders across the business to design experiments to give useful data quickly</li>
                        <li>Set-up a framework for test planning and reporting documentation and distribution.</li>
                    </ul>

                    <h4>
The results
</h4>
                    <p>
                        Over the course of a 18-month engagement we enabled the business to become self sufficient and build up a robust in-house A/B testing capacity in-house.
                    </p>
                    <p>
                        We worked across the UX, product and data science teams to help to embed a culture of testing and optimisation with the business where any new initiative on the site typically begins with a test.
                    </p>

                </div>
            </div>
        </div>
        <!--.section-->
        <section class="section section--additional">
            <div class="container">
                <!--.subsection-->
                <div class="subsection">
                    <h2 class="section-title">More recent work</h2>
                    <div class="cards-hover-faded">
                        <div class="row">
                            {% for post in site.posts limit: 3 %} {% if post.url != page.url %} {% if forloop.index
                            < 3 or found %}
                            <div class="col-md-6">
                                <a href="{{ post.url }}">
                                    <div class="card--faded card--case mb-4">
                                        <div class="embed-responsive embed-responsive-1 mb-2">
                                          <img class="embed-responsive-item" src="{{ post.image }}" alt="{{ post.image-alt }}" width="192" />
                                        </div>
                                        <p class="mb-0"> {{ post.excerpt }}</p>
                                    </div>
                                </a>
                        </div>

                        {% endif %} {% else %} {% assign found = true %} {% endif %} {% endfor %}
                    </div>
                </div>
                <!--/.subsection-->
            </div>
    </div>

    {% include book.html %}
</div>
</section>
<!--/.section-->

{% include footer.html %}
