{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.hero-header %}
				<h1>{{ page.hero-header }}</h1>
				{% endif %}
				{% if page.hero-subhead %}
				<p class="hero-text">{{ page.hero-subhead }}</p>
				{% endif %}
				{% if page.hero-p %}
				<p>{{ page.hero-p }}</p>
				{% endif %}
				{% if page.hero-cta %}
				<a class="btn btn-primary btn-lg mt-1" href="/services/strategy-session" id="topStrategySession">{{ page.hero-cta }}</a>
				{% endif %}
				{% if page.cta-eyebrow %}
				<p class="small">{{ page.cta-eyebrow }}</p>
				{% endif %}
			</div>
		</div>
	</div>
	<!--.section-->
	<div class="container">
		<div class="row">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-md-8">
						<table class="specs text-sm">
							<tbody>
								<tr>
									<td>
										<div class="specs__label">Client</div>
									</td>
									<td>
										<p><a href="https://www.nissan.com.au">Nissan Australia</a> (with AKQA)</p>
									</td>
								</tr>
								<tr>
									<td>
										<div class="specs__label">Services</div>
									</td>
									<td>
										<p> A/B Testing <br />
											UX design
										</p>
									</td>
								</tr>
								<tr>
									<td>
										<div class="specs__label">Result</div>
									</td>
									<td>
										<p>+52% test drive requests</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<br>
				<br>
			</div>
		</div>
	</div>
	<div class="container pt-2">
		<div class="row">
			<div class="col-lg-10 col-md-11 mb-4">

<script>
	jQuery(function( $ ){

    // Check if alert has been closed
    if( $.cookie('alert-box') === 'closed' ){

        $('.alert').hide();

    }


});
</script>
				<div class="alert alert-danger alert-dismissible fade show mb-5" role="alert">


					<p><strong>
							Most of the case studies we publish on our website are really boring.</strong>
					</p>
					<p>
						 Because we work with sensitive commercial data, we are generally able to only publish discrete, proportional indications of results.</p>
					<p>In certain cases, we can share more detailed case studies (with client permission) so do get in touch if you'd like to see something a bit more juicy.</p>


					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>

				<h3>The challenge</h3>
				<ul class="list">
					<li>Test drive request forms had an extremely high abandonment rate, particularly on mobile.</li>
					<li>Limited visibility of test drive request CTA across the site meant that many prospects weren't exposed to the forms at all</li>
				</ul>
			</div>
		</div>
	</div>

	<script>


		// When document is ready replaces the need for onload
	jQuery(function( $ ){

	    // Grab your button (based on your posted html)
	    $('.close').click(function( e ){

	        // Do not perform default action when button is clicked
	        e.preventDefault();

	        /* If you just want the cookie for a session don't provide an expires
	         Set the path as root, so the cookie will be valid across the whole site */
	        $.cookie('alert-box', 'closed', { path: '/' });

	    });

	});
	</script>

	<div class="secondary" style="background-color: #;">


		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-11 my-4">

					<h3>What we did</h3>
					<p>
						Using an approach combining of user research, analytics and experimentation we sought to optimise the Kmail sign-up journey.
					</p>
					<ul class="list">
						<li>
							Undertook a landscape review to help us see what other car manufacturers generating sales leads
						</li>

						<li>
							As part of a broader user research exercise, our partners at AKQA spoke extensively with car dealers and customers to help uncover rich insights to inform our approach.</li>
						<li>These insights helped us to cut the required form fields from fourteen down to five.
					</ul>
				</div>
			</div>
		</div>
		<!--
		<div class="secondary" style="background-color: #FFFF88;">
			<div class="container py-5">
				<div class="row">
					<div class="col-lg-10 py-5">
						<blockquote class="text-center mb-0">
							<h2 class="smaller mb-2">“An absolutely awesome result!”</h2>
							<p class="text-xs mb-0">Joachim Holte, Head of Digital Marketing, Kmart Australia</p>
						</blockquote>
					</div>
				</div>
			</div>
		</div>
		-->

		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-md-11 mt-5">


					<h3>The result</h3>
					<ul class="list">
						<li>52.31% increased form submissions</li>
						<li>Significant incremental revenue from attributed sales</li>
					</ul>



				</div>
			</div>
		</div>


		<!--.section-->
		<section class="section section--additional">
			<div class="container">
				<!--.subsection-->
				<div class="subsection">
					<h2 class="section-title">More recent work</h2>
					<div class="cards-faded">
						<div class="row">
							{% for post in site.posts limit: 3 %} {% if post.url != page.url %} {% if forloop.index < 3 or found %} <div class="col-md-6 card-faded">
								<a href="{{ post.url }}">
									<div class="card-case">
										<div class="embed-responsive embed-responsive-1 mb-3">
											<img class="embed-responsive-item" src="{{ post.mobile-thumbnail }}" alt="" width="192" style="border: 1px solid #5e5e5e;" />
										</div>
										<p class="mb-0">{{ post.headline }}</p>
									</div>
								</a>
						</div>
						{% endif %} {% else %} {% assign found = true %} {% endif %} {% endfor %}

					</div>
				</div>
			</div>
			<!--/.subsection-->
	</div>
	</section>
	<!--/.section-->


	{% include book.html %}
</div>


{% include footer.html %}
