{% include header.html %}
<div class="page-content">
    <div class="hero hero--case">
        <div class="container">
            <div class="subsection">
                {% if page.hero-header %}
                <h1>
					{{ page.hero-header }}
					</h1> {% endif %} {% if page.hero-text %}
                <p class="hero-text">
                    {{ page.hero-text }}
                </p>
                {% endif %} {% if page.hero-para %}
                <p class="hero-para">
                    {{ page.hero-para }}
                </p>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="specs text-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="specs__label">Client</div>
                                        </td>
                                        <td>
                                            <p>Telegraph Media Group</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="specs__label">Services</div>
                                        </td>
                                        <td>
                                            <p><a href="/services">A/B Testing
</a>
                                                <br><a href="/services">User research
</a>
                                                <br><a href="/services">Interface design</a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <br>
                    <br>
                    <p>

                    </p>
       <p>
Like many legacy businesses around the world, the Telegraph is in the middle a radical digital transformation. We were engaged to support a newly established Product and UX function by developing an in-house optimisation program.
                    </p>
                    <br>
                </div>
            </div>
        </div>
        <div class="container container--wider">
            <figure>
                <img class="img-full-width" src="{{ page.image }}" alt="{{ page.image-alt }}">
                <div class="row">
                    <div class="col-lg-10">
                        <figcaption>
                            {{ page.caption }}
                        </figcaption>
                    </div>
                </div>
            </figure>
            <br>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">

                    <h2>What we did</h2>
                    <p>
During the course of our engagement with the Telegraph we:
                    </p>
                    <ul class="list">
                        <li>Worked between the Telegraph's IT, procurement and legal teams to find an implement a suitable A/B testing platform</li>
                        <li>Defined roles, processes and governance for test development, QA, release and results distribution</li>
                        <li>Implemented a method for prioritising the experiment backlog</li>
                        <li>Worked with stakeholders across the business to design experiments to give useful data quickly</li>
                        <li>Set-up a framework for test planning and reporting documentation and distribution.</li>
                    </ul>

                    <h2>
The results
</h2>
                    <p>
Over the course of a 18-month engagement we enabled the business to become self sufficient and build up a robust in-house A/B testing capacity in-house.
</p>
<p>
We also achieved some pretty great results from our tests:
                    </p>

        <ul class="list">
                        <li>8% increase in subscription sales</li>
                        <li>14% lift in video plays</li>
                        <li>22% increase in user engagement</li>
                    </ul>

                    <p>
We championed A/B tested and helped to show demonstrable value in the power of optimisation, so that now any new feature or tweak invariably begins life validated on a small portion of traffic as an A/B test variant.
                    </p>

                </div>
            </div>
        </div>





        <!--.section-->
        <section class="section section--additional">
            <div class="container">
                <!--.subsection-->
                <div class="subsection">
                    <h2 class="section-title">More recent work</h2>
                    <div class="cards-hover-faded">
                        <div class="row">
                            {% for post in site.posts limit: 3 %} {% if post.url != page.url %} {% if forloop.index
                            < 3 or found %}
                            <div class="col-md-6">
                                <a href="{{ post.url }}">
                                    <div class="card--faded card--case mb-4">
                                        <div class="embed-responsive embed-responsive-1 mb-2">
                                          <img class="embed-responsive-item" src="{{ post.image }}" alt="{{ post.image-alt }}" width="192" />
                                        </div>
                                        <p class="mb-0"> {{ post.excerpt }}</p>
                                    </div>
                                </a>
                        </div>

                        {% endif %} {% else %} {% assign found = true %} {% endif %} {% endfor %}
                    </div>
                </div>
                <!--/.subsection-->
            </div>
    </div>

    {% include book.html %}
</div>
</section>
<!--/.section-->

{% include footer.html %}
