{% include header.html %}
<div class="page-content">
    <div class="hero hero--case">
        <div class="container">
            <div class="subsection">
                {% if page.hero-header %}
                <h1>
                    {{ page.hero-header }}
                    </h1> {% endif %} {% if page.hero-text %}
                <p class="hero-text">
                    {{ page.hero-text }}
                </p>
                {% endif %} {% if page.hero-para %}
                <p class="hero-para">
                    {{ page.hero-para }}
                </p>
                {% endif %}
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row">
                        <div class="col-md-8">
                            <table class="specs text-sm">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="specs__label">Client</div>
                                        </td>
                                        <td>
                                            <p><a href="http://www.ee.co.uk">EE</a></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="specs__label">Services</div>
                                        </td>
                                        <td>
                                            <p><a href="/services">A/B Testing</a>
                                                <br />
                                                <a href="/services">User research</a>
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container container--wider mt-5">
            <figure>
                <img class="img-full-width" src="{{ page.image }}" alt="{{ page.image-alt }}">
                <div class="row">
                    <div class="col-lg-10">
                        <figcaption>
                            {{ page.caption }}
                        </figcaption>
                    </div>
                </div>
            </figure>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <h4>
    The brief

                    <p>
                        We were tasked with finding out why customers buying mobile phones and tablets via EE's website were purchasing insurance coverage at a fraction of the rate of those shopping in-store.
                    </p>
                    <h4>
                      Research phase
                    </h4>
                    <p>
                        After a discovery phase in which we interviewed with retail and telesales staff we conducted an small round of remote user testing.
                    </p>
                    <p>
                        We tested participants across a range of ages with differing levels of computer competency who were tasked with purchasing a mobile phone handset on a plan appropriate to their needs along with insurance.
                    </p>
                    <h4>
                      What we discovered
                    </h4>
                    <p>
                        Of the ten respondnents that we tested, only two managed to find the insurance offering on the site. One elderly respondent spent over well over an hour struggling to complete the task. He search on Google, he trawled the the EE help site and product forums and just about evereywhere else before eventually declaring defeat.
                    </p>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10">

                    <figure>
                        <img class="img-full-width" src="../img/ee-screenshot.png" alt="Screenshot of EE's basket page">
                        <figcaption>
                            Only two of ten users that we tested managed to find insurance on this page. This is because it was 'hidden' in brand marketing language and called 'Clone Phone'.
                        </figcaption>
                    </figure>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <p>
                    The reason for this turned out to be fairly simple: the insurance offering was labelled not labelled on the site as ‘Insurance’ but was instead called ‘Clone Phone’, a value added bundle including a data back-up service in addition to a new phone and a 24 hour replacement policy in case of loss, damage or theft.
                </p>
                <p>
                    We theorised that the huge discrpeancy betwene in-store and online insurance sales was for quite a simple reason:
                </p>
                <p>
                    In store, the salesperson would ask "Would you like inusrance with that?"
                </p>
                <p>
                    By contrast, online customers saw only the cryptic 'Clone Phone' accordian.
                </p>
                <h4>
Validating our hypothesis
</h4>
                <p>
                    We deployed a simple A/B test to validate our hypothesis, replacing the words ‘Clone Phone’ with ‘Insurance’ on the basket page.
                </p>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">

                <figure>
                    <h5 class="text-center text-uppercase">Control</h5>
                    <img class="img-full-width" src="../img/ee-experiment-control.png" alt="Screenshot of the original version of the module on the basket page with brand marketing language. Insurance is called 'Clone Phone'" style="border: 1px #717171 solid;">
                    <figcaption>The original version of the module on the basket page with brand marketing language</figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">

                <h5 class="text-center text-uppercase">Variant</h5>
                <figure>
                    <img class="img-full-width" src="../img/ee-experiment-variant.png" alt="Screenshot of our experimental variant in which we changed 'Clone Phone' to just 'Insurance'" style="border: 1px #717171 solid;">
                    <figcaption>Our experimental variant in which we changed 'Clone Phone' to just 'Insurance'</figcaption>

                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <p>
                    Almost immediately we saw insurance sales increased by over 800%, generating millions of pounds of theretofore untapped incremental yearly revenue.
                </p>
                <p>
                    Solving usability issues is rarely so easy as in this case but we definitely enjoy it when it is.
                </p>
                <h4>
    What did we learn?
</h4>
                <p>
                    The use of this kind of brand marketinfg language is fairly common in the marketing driven world of mobile telephony.
                </p>
                <p>
                    Since mobile telephony is essentially a commodity product, they rely heavilly on brand marketing to differentiate themselves from their competitors.
                </p>
                <p>
                    Australian telcos are doing the exact same thing at this exact momemnt: Vodafone refer to insurance as a product called 'Keep Talking' and Telstra’s package is known as 'StayConnected Advanced'. None of these products mention the word 'Insurance'.
                </p>

            </div>
        </div>
    </div>
    <!--.section-->
    <section class="section section--additional">
        <div class="container">
            <!--.subsection-->
            <div class="subsection">
                <h2 class="section-title">More recent work</h2>
                <div class="cards-hover-faded">
                    <div class="row">
                        {% for post in site.posts limit: 3 %} {% if post.url != page.url %} {% if forloop.index
                        < 3 or found %} <div class="col-md-6">
                            <a href="{{ post.url }}">
                                <div class="card--faded card--case mb-4">
                                    <div class="embed-responsive embed-responsive-1 mb-2">
                                      <img class="embed-responsive-item" src="{{ post.image }}" alt="{{ post.image-alt }}" width="192" />
                                    </div>
                                    <p class="mb-0"> {{ post.excerpt }}</p>
                                </div>
                            </a>
                    </div>

                    {% endif %} {% else %} {% assign found = true %} {% endif %} {% endfor %}
                </div>
            </div>
            <!--/.subsection-->
        </div>
</div>

{% include book.html %}
</div>
</section>
<!--/.section-->

{% include footer.html %}
