{% include header.html %}
	<div class="page-content">
		<div class="hero hero--case">
			<div class="container">
				<div class="subsection">
					{% if page.hero-header %}
					<h1>
					{{ page.hero-header }}
					</h1>
					{% endif %}

					{% if page.hero-text %}
					<p class="hero-text">
					{{ page.hero-text }}
					</p>
					{% endif %}

					{% if page.hero-para %}
					<p class="hero-para">
					{{ page.hero-para }}
					</p>
					{% endif %}
					<div class="row">
						<div class="col-lg-10">
							{{ page.content }}
						</div>


					</div>

				</div>
			</div>
		<!--.section-->
		<div class="section section--cases">
			<div class="container">			<div class="row">
				<div class="col-lg-10">
					<p>
						Leave your details below and one of our strategic conversion consultants will review your site.
					</p>
					<p>We will then come back with actionable strategies to boost your conversion rate.
</p>
<p>
Recent conversion audits have unearthed usability issues that increased sign-ups for a major super fund by 25%.
</p>

					<p>There’ll be <strong>no commitment or obligation</strong> to use our services.</p>
					<br>
				</div>
			</div>
			<form class="text-sm" action="https://formspree.io/op@publicbasic.com" method="POST">

				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label>Name</label>
							<input type="text" placeholder="Your name" name="name" />
						</div>
						<div class="form-group">
							<label>E-mail</label>
							<input type="email"  placeholder="Your email address" name="_replyto">
						</div>
						<div class="form-group">
							<label>Telephone</label>
							<input type="tel" placeholder="Telephone" name="telephone" />
						</div>
					</div>
					<div class="col-md-10">
						<div class="form-group">
							<label>What's your biggest conversion challenge?</label>
							<textarea placeholder="" name="message"></textarea>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="d-flex align-items-center">
						<input class="btn py-3 btn-primary mr-4 mb-0" style="font-style: bold;" type="submit" value="Review my site"></div>
				</div>
			</form>
		</div>
	</div>
</div></div>
{% include footer.html %}
