{% include header.html %}
	<div class="page-content">
		<div class="hero hero--case">

			<div class="container container--lg">
							<!--

				<div class="jumbotron p-5">
  <h1>Most A/B testing and experimentation programs fail</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
 </div>
 --->
				<div class="subsection">
					{% if page.hero-header %}
					<h1>
					{{ page.hero-header }}
					</h1>
					{% endif %}

					{% if page.hero-text %}
					<p class="hero-text">
					{{ page.hero-text }}
					</p>
					{% endif %}

					{% if page.hero-para %}
					<p class="hero-para">
					{{ page.hero-para }}
					</p>
					{% endif %}
</div></div>
        <div class="container container--large" style="background-color: yellow;">
            <figure>
                <img class="img-full-width" src="{{ page.image }}" alt="{{ page.image-alt }}">

            </figure>

        </div>
        <div class="container">

  <div class="row">
                    <div class="col-lg-10">
                        <figcaption>
                            {{ page.caption }}
                        </figcaption>
                    </div>
                </div>
            </div>
<div class="container">



					<div class="row">
						<div class="col-lg-10">
							{{ content }}
						</div>


					</div>
				</div>

</div>

</div>

</div>
{% include footer.html %}
