{% include header.html %}
	<div class="page-content">
		<div class="hero">
			<div class="container">
				<div class="subsection">
					{% if page.hero-header %}
					<h1>{{ page.hero-header }}</h1>
					{% endif %}
					
					{% if page.hero-text %}
					<p class="hero-text">{{ page.hero-text }}</p>
					{% endif %}
										
					<div class="row">
						<div class="col-lg-10">
						{% if page.hero-para %}
						<p>{{ page.hero-para }}</p>
						{% endif %}						
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--.section-->
		<section class="section section--we-get-results">
			<div class="container">
				<!--.subsection-->
				<div class="subsection">
					<h2 class="section-title">We get results</h2>
					<div class="cards-faded">
					{% for post in site.posts %}
						<a href="{{ post.url }}">
							<div class="media--preview card-faded">
								<div class="row">
									<div class="col-md-3">
										<div class="embed-responsive embed-responsive-1 mb-3 mb-md-0">
											<img class="embed-responsive-item" src="img/media/phone-hand.jpg" alt="" width="192" />
										</div>
									</div>
									<div class="col-md-9">
										<div class="media-body">
											<h3 class="mb-1">{{ post.title }}</h3>
											<p class="mb-0">{{ post.excerpt }}</p>
										</div>
									</div>
								</div>
							</div>
						</a>
					{% endfor %}
					</div>
				</div>
				<!--/.subsection-->
			</div>
		</section>
		<!--/.section-->

{% include book.html %}

{% include footer.html %}
