{% include header.html %}

	<div class="page-content">
		<div class="hero hero--case">
			<div class="container">
				<div class="subsection">
					<h1>{{ page.title }}</h1>
					<div class="row">
						<div class="col-lg-10">
							<p>{{ page.excerpt }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">


			      <a href="{{ post.url }}">
			        <h2 class="post-title">{{ post.title }}</h2>
			      </a>
			</div>

			<div class="container">

			<div class="row">
				<div class="col-lg-10">
					{{ page.content }}
				</div>
			</div>
		</div>
		<!--.section-->
		<section class="section section--additional">
			<div class="container">
				<!--.subsection-->
				<div class="subsection">
					<h2 class="section-title">Other services</h2>
					<div class="row">
						{% for post in site.categories.services limit:4  %}
						{% if post.url != page.url %}
	{% if forloop.index < 4 or found %}


						<div class="col-lg-6 subsection-2">
							<a class="h-100" href="{{ post.url }}">
								<div class="card card--hover-shadow card-sm">
									<h3 class="mb-2">{{ post.title }}</h3>
									<p>{{ post.excerpt }}</p>
								</div>
							</a>
						</div>
						{% endif %}
				  {% else %}
				    {% assign found = true %}
				  {% endif %}
				{% endfor %}

					</div>
				</div>
				<!--/.subsection-->
			</div>
		</section>
		<!--/.section-->
	</div>
	<!--modals before footer-->
	<!--.footer-->
	{% include footer.html %}
