{% include header.html %}

<div class="page-content">
	<div class="hero pb-0">
		<div class="container">
			<div class="subsection">
				<h1>{{ page.hero-header }}</h1>
				<p class="hero-text">{{ page.hero-subhead }}</p>
				<div class="row">
					<div class="col-lg-10">
						<p>{{ page.hero-p }}</p>
					</div>
					<figure>
						<img class="img-full-width mt-5" src="/img/what-we-do.jpg" alt="">
						<div class="row">
							<div class="col-lg-10">
								<figcaption>This sketch is a pithy way of capturing what we do and how we fit in: we're broadly at the intersection of research, design and data. </figcaption>
							</div>
						</div>

					</figure>

				</div>
			</div>
		</div>
	</div>

	<div class="container">

	<div class="row">
		<div class="col-lg-10">
			{{ page.content }}
		</div>
	</div>
</div>


<!--.section-->
<section class="section section--services mt-5">
	<div class="container">
		<!--.subsection-->
		<div class="subsection">
			{% for post in site.categories.services %}
			<a class="h-100" href="{{ post.url }}">
				<div class="card card--hover-shadow card--service">
					<h3 class="mb-2">{{ post.title }}</h3>
					<p>{{ post.excerpt }}</p>
				</div>
			</a>
			{% endfor %}
		</div>
		<!--/.subsection-->
	</div>
</section>
<!--/.section-->
</div>
<!--modals before footer-->

{% include footer.html %}
