{% include header.html %}
<div class="page-content">
	<div class="hero">
		<div class="container">
			<div class="subsection">
				{% if page.hero-header %}
				<h1>{{ page.hero-header }}</h1>
				{% endif %}
				{% if page.hero-subhead %}
				<p class="hero-text">{{ page.hero-subhead }}</p>
				{% endif %}
				{% if page.hero-p %}
				<p>{{ page.hero-p }}</p>
				{% endif %}
				{% if page.hero-cta %}
				<a class="btn btn-primary btn-lg mt-1" href="/services/strategy-session" id="topStrategySession">{{ page.hero-cta }}</a>
				{% endif %}
				{% if page.cta-eyebrow %}
				<p class="small">{{ page.eyebrow }}</p>
				{% endif %}
			</div>
		</div>
	</div>


	<div class="row mb-5" style="background-color: #FFFF88;">
		<div class="col-xl-8 offset-xl-2 py-3">
			<figure>
				<img class="img-full-width" src="../img/venn-diagram.svg" alt="Sketch of a venn diagram showing 'Design', 'Data' and 'Research' with an arrow pointing to the middle of the diagram and an annotation that says 'Us'">
			</figure>
		</div>
	</div>
	<!--.section-->
	<section class="section section--services">
		<div class="container">

			<div class="specs-bordered">
				<div class="specs-bordered__row">
					<div class="specs__label">
						<div class="mb-4"><b>Research</b>
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item">User interviews</li>
						<li class="list-group-item">Feedback tools</li>
						<li class="list-group-item">Analytics</li>
					</ul>
				</div>
				<!--this is for space after row-->
				<div class="subsection-lg"></div>
				<div class="specs-bordered__row">
					<div class="specs__label">
						<div class="mb-4"><b>Design</b>
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item">Interface design</li>
						<li class="list-group-item">Wireframing</li>
						<li class="list-group-item">Prototyping</li>
					</ul>
				</div>
				<!--this is for space after row-->
				<div class="subsection-lg"></div>
				<div class="specs-bordered__row">
					<div class="specs__label">
						<div class="mb-4"><b>Data</b>
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item">Analytics</li>
						<li class="list-group-item">A/B testing</li>
						<li class="list-group-item">Personalisation</li>
					</ul>
				</div>
				<!--this is for space after row-->
				<div class="subsection-lg"></div>
				<div class="specs-bordered__row">
					<div class="specs__label">
						<div class="mb-4"><b>Consulting</b>
						</div>
					</div>
					<ul class="list-group">
						<li class="list-group-item">Vendor selection</li>
						<li class="list-group-item"><a href="/services/program-building">Optimisation program building</a></li>
						<li class="list-group-item">Coaching &amp; development</li>
					</ul>


	</section>
	<!--/.section-->



	<!--/.section-->
	{% include book.html %}
</div>
<!--modals before footer-->
{% include footer.html %}
